spring:
  datasource:
    url: jdbc:mysql://localhost:3306/blog?useSSL=false&serverTimezone=UTC
    username: root
    password: 27699858
    driver-class-name: com.mysql.cj.jdbc.Driver
    static-locations: classpath:/static/**

mybatis:
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.example.blog.Entity
sa-token:
  token-name: satoken  # Token 名称，默认为 satoken
  timeout: 86400         # Token 有效期（秒），默认 30 天，设置为 1 天
  activity-timeout: -1   # 临时 Token 有效期，-1 表示关闭
  is-print: false        # 是否输出日志

server:
  port: 8080
